<h5 class="text-center">Register here</h5>
<form>
    <div class="form-group row">
    <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="firstname" value="" placeholder="Enter your first name">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text"  class="form-control" id="lastname" value=""placeholder="Enter your last name">
    </div>
  </div>
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text"  class="form-control" id="username" value="" placeholder="Enter a unique username">
    </div>
  </div>
  <div class="form-group row">
    <label for="Email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  id="email" value="" placeholder="Enter your email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="text-center"><button type="submit" class="btn btn-primary">Register</button></div>
  
</form>